
 #portfolio .portfolio-item {
  right: 0;
 
   }
 
  #portfolio .portfolio-item .portfolio-link {
    position: relative;
    display: block;
     width: 250px;
    height:250px;
    margin: 0 auto;
    cursor: pointer; }
     #portfolio .portfolio-item .portfolio-link img{
             border-radius: 10%; 
              border: 1px solid rgba(0,0,0,0.3);
              box-shadow: 10px 10px 5px rgba(0,0,0,0.7);
         }
    #portfolio .portfolio-item .portfolio-link .caption {
      
         border-radius: 10%;
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-transition: all ease .5s;
      -moz-transition: all ease .5s;
      transition: all ease .5s;
      opacity: 0;
      background: #292b2c!important; 
      ;}
      #portfolio .portfolio-item .portfolio-link .caption:hover {
        opacity: 1; }
      #portfolio .portfolio-item .portfolio-link .caption .caption-content {
        font-size: 20px;
        position: absolute;
       
        width: 100%;
        height: 100%;
        padding: 20px;
        color: white; }
        
        #portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
        text-align: center;
        padding: 10px;
        border-bottom: 1px solid gray;
         }
         .uses{
             text-align: center;
             color:royalblue;
         }
#portfolio * {
  z-index: 2; }


@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px; } }

.portfolio-modal .modal-dialog {
  max-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  border: none;
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none; }
  .portfolio-modal .modal-dialog .modal-content {
    padding: 100px 0;
    border: 0;
    border-radius: 0; }
    .portfolio-modal .modal-dialog .modal-content h2 {
      font-size: 3em;
      margin: 0; }
    .portfolio-modal .modal-dialog .modal-content img {
      margin-bottom: 30px; }
    .portfolio-modal .modal-dialog .modal-content .item-details {
      margin: 30px 0; }

.portfolio-modal .close-modal {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 75px;
  height: 75px;
  cursor: pointer;
  background-color: transparent; }
  .portfolio-modal .close-modal:hover {
    opacity: .3; }
  .portfolio-modal .close-modal .lr {
    /* Safari and Chrome */
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #2C3E50; }
    .portfolio-modal .close-modal .lr .rl {
      /* Safari and Chrome */
      z-index: 1052;
      width: 1px;
      height: 75px;
      /* IE 9 */
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
      background-color: #2C3E50; }

.portfolio-modal .modal-backdrop {
  display: none;
  opacity: 0; }

  .portfolioImg{
      width:100%;
      height:100%;

  }
  span {
       
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;

  z-index: 1;

  /* fixes overlap error in IE7/8, 
     make sure you have an empty gif */
  background-image: url('empty.gif');
}   
  
  /*body {
    background-color: gray;
  }
.jumbotron{
  background-color: gray;
  color: white;
}*/

.contactForm{
  margin: 5px;
}
form {
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  /*border: 1px solid #292b2c;*/
  background-color: white;
}


.otherFooter {
  
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow:hidden;
}

.jumboHeader{
   border-bottom: 1px solid #292b2c;
}
.headTopBorder{
  border-top: 1px solid #292b2c;
  padding-top: 15px;
}